fish/fish_variables
fish/completions/fisher.fish
fish/functions/fisher.fish
fish/functions/fish_right_prompt.fish
fish/functions/fish_prompt.fish
fish/functions/fish_mode_prompt.fish
karabiner/automatic_backups
coc/
gh/hosts.yml
git/reddit
